<!DOCTYPE html>
<html>
<head>
    <title>Gallery</title>
</head>
    <body class="body">
        <header class="header">
            <div class="header__home-page-button"></div>
        </header>
        <main>
            <form class="autorization-form form">
                <h3 class="form-title">Authorization</h3>
                <div class="input-box">
                    <label for="email" class="input-box__label">Email</label>
                    <input type="email" name="email" class="input-box__input autorization-form__input-box__input-email" required placeholder="example@example.com">
                </div>
                <div class="input-box">
                    <label for="password" class="input-box__label">Password</label>
                    <input type="password" name="password" minlength="6" class="input-box__input autorization-form__input-box__input-password" placeholder="••••••" required>
                </div>
                <div class="button-box">
                    <button class="button-box__button autorization-form__button-box__button-log-in" type="button">Log in</button>
                    <button class="button-box__button autorization-form__button-box__button-registration" type="button">Registration</button>
                    <button class="button-box__button autorization-form__button-box__button-cancel" type="button">Cancel</button>
                </div>
            </form>
        </main>
    </body>
</html>