<!DOCTYPE html>
<html>
<head>
    <title>Gallery</title>
</head>
    <body class="body">
        <header class="header">
            <div class="header__home-page-button"></div>
        </header>
        <main>
            <form class="registration-form form">
                <h3 class="form-title">Registration</h3>
                <div class="input-box">
                    <label for="name" class="input-box__label">Name</label>
                    <input class="input-box__input registration-form__input-box__input-name" type="name" name="name">
                </div>
                <div class="input-box">
                    <label for="surname" class="input-box__label">Surname</label>
                    <input class="input-box__input registration-form__input-box__input-surname" type="name" name="surname">
                </div>
                <div class="input-box">
                    <label for="password" class="input-box__label">Password</label>
                    <input class="input-box__input registration-form__input-box__input-password" type="password" name="password">
                </div>
                <div class="input-box">
                    <label for="confirm-password" class="input-box__label">Confirm password</label>
                    <input class="input-box__input registration-form__input-box__input-confirm-password" type="password" name="confirm-password">
                </div>
                <div class="input-box">
                    <label for="email" class="input-box__label">Email</label>
                    <input class="input-box__input registration-form__input-box__input-confirm-password" type="email" name="email">
                </div>
                <div class="button-box">
                    <button class="button-box__button registration-form__button-box__button-sign-up" type="submit">Sign up</button>
                    <button class="button-box__button registration-form__button-box__button-clear" type="reset">Clear</button>
                    <button class="button-box__button registration-form__button-box__button-cancel" type="button">Back</button>
                </div>
            </form>
        </main>
    </body>
</html>